In [5]:
import dspy
from helper import lm
dspy.settings.configure(lm=lm())

In [6]:
class TextToSQL(dspy.Signature):
    """Transform a natural language query into a SQL query."""

    sql_prompt = dspy.InputField(desc="Natural language query")
    sql_context = dspy.InputField(desc="Context for the query")
    sql_output = dspy.OutputField(desc="SQL query")

In [22]:
predict = dspy.ChainOfThought(TextToSQL)

result = predict(
    sql_prompt = """List the top 5 countries with the highest number of satellites in orbit as of 2022-01-01, 
    ordered by the number of satellites in ascending order""",
    sql_context = """Table Schema is, countries(id INT, name VARCHAR(225), population INT, satellites_in_orbit INT, last_census_date DATE)"""
)

for key, value in result.items():
    print(f"\n{key.upper()}\n")
    print(value)

RATIONALE

produce the sql_output. We need to:
1. Select the country name and the number of satellites in orbit.
2. Filter the data to include only records where the last census date is on or before 2022-01-01.
3. Order the results by the number of satellites in orbit in ascending order.
4. Limit the results to the top 5 countries.

SQL_OUTPUT

```sql
SELECT name, satellites_in_orbit
FROM countries
WHERE last_census_date <= '2022-01-01'
ORDER BY satellites_in_orbit ASC
LIMIT 5;
```

In [23]:
for key, value in result.items():
    print(f"\n{key.upper()}\n")
    print(value)

RATIONALE

produce the sql_output. We need to:
1. Select the country name and the number of satellites in orbit.
2. Filter the data to include only records where the last census date is on or before 2022-01-01.
3. Order the results by the number of satellites in orbit in ascending order.
4. Limit the results to the top 5 countries.

SQL_OUTPUT

```sql
SELECT name, satellites_in_orbit
FROM countries
WHERE last_census_date <= '2022-01-01'
ORDER BY satellites_in_orbit ASC
LIMIT 5;
```

In [24]:
predict = dspy.ChainOfThought(TextToSQL)

result = predict(
    sql_prompt = """Write a query to fetch values in table test_a that are not in test_b""",
    sql_context = """Table test_a schema is test_a(id INT).
    Table test_b schema is test_b(id INT)"""
)

for key, value in result.items():
    print(f"\n{key.upper()}\n")
    print(value)

RATIONALE

produce the sql_output. We need to select the `id` values from `test_a` that do not exist in `test_b`. This can be achieved using a `LEFT JOIN` or a `NOT IN` clause. For simplicity, we will use the `NOT IN` clause to filter out the `id` values from `test_a` that are present in `test_b`.

SQL_OUTPUT

```sql
SELECT id
FROM test_a
WHERE id NOT IN (SELECT id FROM test_b);
```

### Try relation table

In [27]:
predict = dspy.ChainOfThought(TextToSQL)

result = predict(
    sql_prompt = """Get list of employees who took a training lesson more than once in the same day, group by user and training lesson, 
    each ordered from the most recent lesson date to oldest date""",
    sql_context = """Employee table schema is, emp_id INT, emp_name VARCHAR(500)
      Training detail table schema is, emp_training_id INT, emp_id INT, training_id INT, training_date DATE"""
)

for key, value in result.items():
    print(f"\n{key.upper()}\n")
    print(value)

produce the sql_output. We need to:

1. Identify the employees who took the same training lesson more than once on the same day.
2. Group the results by employee and training lesson.
3. Order the results by the most recent training date to the oldest date.

To achieve this, we will:

1. Join the Employee table with the Training detail table on `emp_id`.
2. Use a subquery to count the occurrences of each training lesson per employee per day.
3. Filter the results to include only those with more than one occurrence.
4. Group the results by `emp_id` and `training_id`.
5. Order the results by `training_date` in descending order.

Here is the SQL query:
```sql
SELECT
    e.emp_id,
    e.emp_name,
    t.training_id,
    t.training_date
FROM
    Employee e
JOIN
    TrainingDetail t ON e.emp_id = t.emp_id
WHERE
    (e.emp_id, t.training_id, t.training_date) IN (
        SELECT
            emp_id,